* {
  margin: 0;
}

.body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.router {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label {
  font-size: 10px;
  opacity: 0.7;
  margin: auto;
  margin-left: 30px;
  margin-bottom: -10px;
}

.toggled .label {
  display: none;
}

.toggled .logout-btn > button span {
  display: none;
}

Navlink:hover {
  text-decoration: none;
}

.logout-btn button {
  font-size: smaller;
  width: 90%;
  border: 0;
  border-radius: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.logout-btn button span {
  margin-left: 10px;
}

.main {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.top-nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.top-nav .title {
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}

.top-nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav .icons icon {
  margin: 0px 10px;
}

.vertical-divider {
  border-left: 1px solid #d6d7de;
  height: 90%;
}

.main .grey-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #d6d7de;
  width: 80%;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
}

.main .mini-details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
}

.main .mini-details-box .content {
  text-align: left;
}

.main .mini-details-box h6 {
  margin: 0;
  font-weight: 600;
  font-size: small;
}

.main .flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
}

@media (max-width: 650px) {
  .main .flex-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .mid-details-box {
  min-width: 30%;
  margin: 20px 10px;
  padding: 15px;
  border-radius: 5px;
}

.main .mid-details-box .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.main .mid-details-box .activity-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
}

.main .mid-details-box .activity-section h6 {
  font-size: small;
  margin: 0;
}

.main .mid-details-box .activity-section p {
  font-size: 10px;
}

.main .MuiTableCell-root {
  border: 0;
}

.main .MuiTableHead-root {
  border-bottom: #d6d7de solid 1px;
}

@media (max-width: 650px) {
  .main .grey-back {
    padding: 20px;
    margin: 30px auto;
    width: 90%;
  }
  .main .mini-details-box {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .main .grey-back {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  .main .mini-details-box {
    width: 95%;
  }
}

.main {
  width: 100%;
}

.main .profile-pic {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .profile-pic .pic-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .profile-pic .pic-avatar .pic-description {
  margin-left: 10px;
}

.main .profile-pic .pic-avatar .pic-description p {
  font-size: 10px;
  margin-top: 0px;
}

.main .profile-pic input {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 650px) {
  .main .profile-pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .profile-pic input {
    max-width: 70%;
  }
}

@media (max-width: 450px) {
  .main .profile-pic {
    margin: 20px 10px;
  }
}

.divider {
  width: 90%;
  margin: auto;
  border-top: 1px solid #d6d7de;
}

.details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 100px;
  padding: 50px 100px;
  background-color: #fff;
  border-radius: 10px;
}

.details-box .box-title {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.details-box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-box .row .textfield {
  margin: auto;
  margin-top: 30px;
  max-width: 90%;
  margin: 20px;
}

@media (min-width: 650px) {
  .details-box .row .row-div {
    max-width: 45%;
  }
}

.details-box .info-txt {
  font-size: 12px;
  color: #b3b5b6;
}

@media (max-width: 650px) {
  .details-box {
    margin: 30px 50px;
    padding: 30px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details-box .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .details-box .textfield {
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .details-box {
    margin: 20px 20px;
    padding: 15px 20px;
  }
  .details-box .personal-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details-box .personal-details .textfield {
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }
}

.save-btn {
  margin: 20px;
  float: right;
}

.MuiAppBar-colorPrimary {
  background-color: #1c0cac;
}

.MuiAppBar-colorPrimary a:hover {
  color: #d6d7de;
  text-decoration: none;
}

.MuiAppBar-colorPrimary .PrivateTabIndicator-colorSecondary-4 {
  background-color: #fff;
}

.table-div {
  margin: 50px 100px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .table-div {
    margin: 30px 40px;
  }
}

@media (max-width: 450px) {
  .table-div {
    margin: 40px 20px;
  }
}
/*# sourceMappingURL=dashboard.css.map */