$lightblue: #f1f4fe;
$darkgrey: #4d4f5c;
$darkblue: rgb(28, 12, 172);
$lightgrey: #d6d7de;
$white: #fff;
$textgrey : rgb(179, 181, 182);

$mid: 650px;
$small: 450px;

* {
  margin: 0;
}

.body {
  width: 100vw;
  display: flex;
}

.router {
  display: flex;
}

//light theme

.light-theme {
  //sidebar

  .sidebar {
    background-color: $lightblue !important;
    color: $darkgrey !important;
  }
  .sidebar-content {
    background-color: $lightblue;
    color: $darkgrey;
  }
  .sidebar-menu {
    background-color: #f1f4fe;
    color: #4d4f5c;
  }
  .activeClicked > li {
    background-color: $darkblue !important;
    color: #fff !important;
  }
  .menuitem {
    color: #000;
  }

  .logout-btn {
    button {
      background-color: $lightgrey;
    }
  }
  //top navbar
}

.dark-theme {
  .sidebar {
    background-color: $darkgrey;
  }
  .sidebar-content {
    background-color: $darkgrey;
    color: $lightgrey;
  }
  .sidebar-menu {
    background-color: $darkgrey;
    color: $lightgrey;
  }
  .activeClicked > li {
    background-color: $lightgrey !important;
    color: $darkgrey !important;
  }
  .menuitem {
    color: $lightgrey;
  }

  .logout-btn {
    button {
      background-color: $darkgrey;
    }
  }

  //top-navbar
}

.label {
  font-size: 10px;
  opacity: 0.7;
  margin: auto;
  margin-left: 30px;
  margin-bottom: -10px;
}
.toggled {
  .label {
    display: none;
  }
  .logout-btn > button {
    span {
      display: none;
    }
  }
}
@media (max-width: $mid) {
  .dIYCww.toggled {
    width: 70px !important;
    min-width: 50px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .kfARSm.toggled {
    padding-left: 5px !important;
  }
}

Navlink:hover {
  text-decoration: none;
}

.logout-btn {
  button {
    font-size: smaller;
    width: 90%;
    border: 0;
    border-radius: 0;
    height: max-content;

    span {
      margin-left: 10px;
    }
  }
}
.main {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: $white;
}

// top nav bar

.top-nav {
  width: 100%;
  height: fit-content;
  background-color: $lightblue;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .title {
    font-weight: bold;
    letter-spacing: 1px;
  }
}

//profile page

.main {
  width: 100%;

  .profile-pic {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pic-avatar {
      display: flex;

      .pic-description {
        margin-left: 10px;

        p {
          font-size: 10px;
          margin-top: 0px;
        }
      }
    }

    input {
      height: fit-content;
      width: fit-content;
    }

    @media (max-width: $mid) {
      flex-direction: column;
      input {
        max-width: 70%;
      }
    }
    @media (max-width: $small) {
      margin: 20px 10px;
    }
  }
}

.divider {
  width: 90%;
  margin: auto;
  border-top: 1px solid $lightgrey;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 100px;
  padding: 50px 100px;
  background-color: $white;
  border-radius: 10px;

  .box-title {
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;

    .textfield {
      margin: auto;
      margin-top: 30px;
    }
    @media (min-width: $mid) {
      .row-div{
        max-width: 45%;
      }
    }
  }

  .info-txt{
    font-size: 12px;
    color: $textgrey;
  }

  @media (max-width: $mid) {
    margin: 30px 50px;
    padding: 30px 40px;
    flex-direction: column;

    .row {
      flex-direction: column;
      margin: 25px 0px;

      align-items: flex-start;
    }

    .textfield {
      margin: auto;
      margin-top: 30px;
      width: 100%;
    }
  }

  @media (max-width: $small) {
    margin: 20px 20px;
    padding: 15px 20px;

    .personal-details {
      flex-direction: column;

      .textfield {
        margin: auto;
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}


.save-btn {
  margin: 20px;
  float: right;
}

// settings page
.MuiAppBar-colorPrimary {
  background-color: $darkblue;

  a:hover {
    color: $lightgrey;
    text-decoration: none;
  }

  .PrivateTabIndicator-colorSecondary-4 {
    background-color: $white;
  }
}

.table-div{
  margin: 50px 100px;
  // padding: 50px 100px;
  background-color: $white;
  border-radius: 10px;
  @media (max-width: $mid) {
    margin: 30px 40px;
    
  }  
  @media (max-width: $small) {
    margin: 40px 20px;
    
  }

}
