$lightblue: #f1f4fe;
$darkgrey: #4d4f5c;
$darkblue: rgb(28, 12, 172);
$lightgrey: #d6d7de;
$white: #fff;
$textgrey: rgb(179, 181, 182);
$darkthemegrey: #121212;
$mid: 650px;
$small: 450px;


* {
  margin: 0;
}

.body {
  width: 100vw;
  display: flex;
}

.router {
  display: flex;
}

//light theme

.label {
  font-size: 10px;
  opacity: 0.7;
  margin: auto;
  margin-left: 30px;
  margin-bottom: -10px;
}
.toggled {
  .label {
    display: none;
  }
  .logout-btn > button {
    span {
      display: none;
    }
  }
}


Navlink:hover {
  text-decoration: none;
}

.logout-btn {
  button {
    font-size: smaller;
    width: 90%;
    border: 0;
    border-radius: 0;
    height: max-content;

    span {
      margin-left: 10px;
    }
  }
}
.main {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
 
}

//-----------TOP NAVBAR-------------

.top-nav {
  width: 100%;
  height: fit-content;
  // background-color: $lightblue;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .title {
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
  }

  .icons {
    display: flex;
    align-items: center;
    icon {
      margin: 0px 10px;
    }
  }
}
.vertical-divider{
  border-left: 1px solid $lightgrey;
  height: 90%;
}

// ---------DASHBOARD PAGE---------------

.main {
  .grey-back {
    display: flex;
    justify-content: space-evenly;
    background-color: $lightgrey;
    width: 80%;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
  }
  .mini-details-box {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 30px;
    background-color: $white;
    border-radius: 10px;
    width: 30%;

    .content {
      text-align: left;
    }
    h6 {
      margin: 0;
      font-weight: 600;
      font-size: small;
    }
  }

  .flex-div {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;

    @media (max-width: $mid) {
      flex-direction: column;
    }
  }
  .mid-details-box {
    min-width: 30%;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 5px;
    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .activity-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
      h6 {
        font-size: small;
        margin: 0;
      }
      p {
        font-size: 10px;
      }
    }
  }

  .MuiTableCell-root {
    border: 0;
  }
  .MuiTableHead-root {
    border-bottom: #d6d7de solid 1px;
  }
  @media (max-width: $mid) {
    .grey-back {
      padding: 20px;
      margin: 30px auto;
      width: 90%;
    }
    .mini-details-box {
      padding: 10px;
    }
  }
  @media (max-width: $small) {
    .grey-back {
      flex-direction: column;
      padding: 15px;
    }
    .mini-details-box {
      width: 95%;
    }
  }
}

//----------PROFILE PAGE--------------

.main {
  width: 100%;

  .profile-pic {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pic-avatar {
      display: flex;

      .pic-description {
        margin-left: 10px;

        p {
          font-size: 10px;
          margin-top: 0px;
        }
      }
    }

    input {
      height: fit-content;
      width: fit-content;
    }

    @media (max-width: $mid) {
      flex-direction: column;
      input {
        max-width: 70%;
      }
    }
    @media (max-width: $small) {
      margin: 20px 10px;
    }
  }
}

.divider {
  width: 90%;
  margin: auto;
  border-top: 1px solid $lightgrey;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 100px;
  padding: 50px 100px;
  background-color: $white;
  border-radius: 10px;

  .box-title {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;

    .textfield {
      margin: auto;
      margin-top: 30px;
      max-width: 90%;
      margin: 20px;
    }
    @media (min-width: $mid) {
      .row-div {
        max-width: 45%;
      }
    }
  }

  .info-txt {
    font-size: 12px;
    color: $textgrey;
  }

  @media (max-width: $mid) {
    margin: 30px 50px;
    padding: 30px 40px;
    flex-direction: column;

    .row {
      flex-direction: column;
      margin: 25px 0px;

      align-items: flex-start;
    }

    .textfield {
      margin: auto;
      margin-top: 30px;
      width: 100%;
    }
  }

  @media (max-width: $small) {
    margin: 20px 20px;
    padding: 15px 20px;

    .personal-details {
      flex-direction: column;

      .textfield {
        margin: auto;
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}

.save-btn {
  margin: 20px;
  float: right;
}

//-----------------SETTINGS PAGE-------------

.MuiAppBar-colorPrimary {
  background-color: $darkblue;

  a:hover {
    color: $lightgrey;
    text-decoration: none;
  }

  .PrivateTabIndicator-colorSecondary-4 {
    background-color: $white;
  }
}

.table-div {
  margin: 50px 100px;
  // padding: 50px 100px;
  background-color: $white;
  border-radius: 10px;
  @media (max-width: $mid) {
    margin: 30px 40px;
  }
  @media (max-width: $small) {
    margin: 40px 20px;
  }
}
