$lightblue: #f1f4fe;
$darkgrey: #4d4f5c;
$darkblue: rgb(23, 105, 170);
$lightgrey: #d6d7de;
$white: #fff;
$textgrey: rgb(179, 181, 182);
$darkthemegrey: #2a2a2a;


.dark-theme {

   
  .shadow{
    box-shadow: rgba(30, 30, 31, 0.616) 0px 8px 24px;
  }

    .sidebar {
      background-color: $darkgrey;
    }
    .sidebar-content {
      background-color: $darkgrey;
      color: $lightgrey;
    }
    .sidebar-menu {
      background-color: $darkgrey;
      color: $lightgrey;
    }
    .activeClicked > li {
      background-color: $lightgrey !important;
      color: $darkgrey !important;
    }
    .menuitem {
      color: $lightgrey;
    }
  
    .logout-btn {
      button {
        background-color: $darkgrey;
      }
    }
  
    //top-navbar
    .top-nav{
      background-color: $darkgrey;
  
      .title,.icons ,.btn{
        color: $lightgrey;
      }
    }
  
    //main page
    .main{
      background-color: $darkthemegrey;
    }
    .details-box, .mid-details-box, mini-details-box{
      background-color: $darkgrey;
      color: $lightgrey;
    }
    .org-box{
      background-color: $darkgrey;
      color: $lightgrey;
    }
  }