$lightblue: #f1f4fe;
$darkgrey: #4d4f5c;
$darkblue: rgb(23, 105, 170);
$lightgrey: #d6d7de;
$white: #fff;
$textgrey: rgb(179, 181, 182);
$darkthemegrey: #121212;
$mid: 650px;
$small: 450px;

.light-theme {
  //sidebar

  .shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .pro-sidebar.collapsed
    .pro-menu
    > ul
    > .pro-menu-item.pro-sub-menu
    > .pro-inner-list-item {
    background-color: #d6d7de;

    .popper-inner {
      background-color: $lightblue;
    }
  }
  .pro-sidebar .pro-menu 
  { 
    ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: $lightblue;
  }
  }
  .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: $lightblue;
  }
  .pro-sidebar-inner {
    background-color: $lightblue !important;
    color: $darkgrey !important;

    :hover {
      color: #000 !important;
    }
  }
  .pro-menu-item {
    background-color: $lightblue;
  }
  .pro-icon {
    background-color: $lightblue;
  }

  .activeClicked > li {
    background-color: $darkblue !important;
    color: rgb(231, 225, 225) !important;
  }
  .menuitem {
    color: #000;
  }

  //top navbar
  .top-nav {
    background-color: $lightblue;
  }

  //main page
  .main {
    background-color: $white;
  }
}
