$lightblue: #f1f4fe;
$darkgrey: #4d4f5c;
$darkblue: rgb(23, 105, 170);
$lightgrey: #d6d7de;
$white: #fff;
$textgrey: rgb(179, 181, 182);
$darkthemegrey: #121212;
$mid: 650px;
$small: 450px;

.light-theme {
    //sidebar
   
  .shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
    .pro-sidebar-inner {
      background-color: $lightblue !important;
      color: $darkgrey !important;

      :hover{
          color: $black !important;
      }
    }
   
    .pro-icon-wrapper{
      background-color: #dce2f5b4 !important;
    }

    .activeClicked > li {
      background-color: $darkblue !important;
      color: #fff !important;
    }
    .menuitem {
      color: #000;
    }
  
    .logout-btn {
      button {
        background-color: $lightgrey;
      }
    }
    //top navbar
    .top-nav{
      background-color: $lightblue;
    }
    //main page
    .main{
      background-color: $white;
    }
  }
  